.profile__occupation {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    grid-area: occupation;
}

@media screen and (max-width: 424px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 1.21;
    }
}